<form method="post" action="/artist">
  <label for="artist_id">Artist: </label>
  <input id="artist_id" type="text" name="name" required="required" min="0" />
  <input type="submit" value="Add artist" />
</form>
